.bindings-wrapper {
  .bindings-droppable {
    &.is-drag-hover {
      background: #f0e6c0;
    }
  }
}

.update-binding-form {
  .configuration-block {
    margin-bottom: 0.75rem;

    &:empty {
      margin: 0;
    }
  }
}
