@import "initialVariables";
@import "bulma";
@import "animation";
@import "pages/loadingPage";
@import "pages/formPage";
@import "pages/homePage";
@import "pages/editPage";
@import "wrappers/loadingWrapper";
@import "wrappers/bindingsWrapper";
@import "wrappers/categoriesWrapper";
@import "components/binding";
@import "components/category";
@import "components/colorpicker";

html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #273033;
}

body {
  height: 100vh;
  min-height: 100vh;
}

#root, .app, .page {
  height: 100%;
}

.app .app-websocket-loader {
  z-index: 10;
}

.app .app-websocket-loader .app-websocket-error {
  position: fixed;
  top: calc(50% + 100px);
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  z-index: 3;
  font-weight: bold;
}

.app .app-websocket-loader .loading-wrapper .loading-block {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hide {
  display: none;
}

.unvisible {
  visibility: hidden;
}
